{% extends 'wikipedia_app/layout.html' %} 


{% block body %} 
<div class="article__create-container"> 
    <h1>Create and article</h1>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.title.label_tag }} {{ form.title }}
                {{ form.title.errors }}
            </div>
            <div>
                {{ form.content.label_tag }} {{ form.content }}
                {{ form.content.errors }}
            </div>
            <input type="submit" value="Create"> 
        </form>

    </form>

</div>


{% endblock %}